.btn {
    width: 168px;
    height: 56px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    border-color: #0F172A;
    cursor: pointer;
  }
  
  .btn-add {
    background-color: #7C3AED;
    color: white;
  }

  .btn-default {
    background-color: #E2E8F0;
    color: #0F172A;
  }
  
  .btn-edit-active {
    background-color: #BEF264;
    color: #0F172A;
  }

  .btn-edit-default {
    background-color: #E2E8F0;
    color: #0F172A;
  }

  .btn-delete {
    background-color: #F43F5E;
    color: white;
  }